@media (min-width: 576px) {
.container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
.container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
.container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
.container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
.container {
    max-width: 1320px;
  }
}
.navbar-dark .navbar-nav .nav-link {
	color: white;
}

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("img/main.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.bg-image
{
  background-size: cover;
}

header.masthead:before {
  content: "";
  position: absolute;
  background-color: #1c375e;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
}
header.masthead h1, header.masthead .h1 {
  font-size: 2rem;
}

.description h1{
 color:#0e3e6a;
}
.description h2{
 color:#0e3e6a;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 6rem;
    padding-bottom: 20rem;
  }
  header.masthead h1, header.masthead .h1 {
    font-size: 3rem;
  }
}

.about{
 padding: 1em;
 position: relative;
}
.about h1{
 color:#0e3e6a;
}

.about img{
width: 100%;
 border-radius: 50%;
}
.about span{
 display: block;
 color: #888;
 position: absolute;
 left: 115px;
}

.about .desc{
 padding: 2em;
 border-left:4px solid #0e3e6a;
}
.about .desc h3{
 color: #10828C;
}
.about .desc p{
 line-height:2;
 color:#0e3e6a;

}

.portfolio{
    position: relative;
/*
	    margin: 1em 
*/
}
.portfolio h1{
 color:#0e3e6a;
 margin: 1em; 
}
/*
.portfolio img{
  margin: 1em;
*/
}
